.carousel-inner img{
    max-height: 750px;
    max-width: 100%;
    align-content: center;
}

.carousel-inner{
 height: 100%;
}


#flex {
    column-count: 2;
    column-gap: 3rem;/*espacio en columnas*/
    column-rule: 1px solid #bbb;
    column-width: 350px;
    column-fill: auto;/*ordenar el texto*/
}

.container {
    height: auto;
}
h5{
    color: white;
}